<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Personal Finance Management system</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
             
                @Html.ActionLink("Personal Financer", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
              
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class=" body-content">
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {

            <div class="wrapper d-flex align-items-stretch">
                @Html.Partial("_SideBarPartial")
                <div id="content" class="p-4 p-md-5">
                    @RenderBody()
                </div>
            </div>


        }
        else
        {
            @RenderBody()
        }
    </div>

   
</body>
</html>
